<option value="0"></option>
<option value="1">1</option>
<option value="1d3">d3</option>
<option value="2d6kl1">d6L</option>
<option value="1d6">d6</option>
<option value="2d6kh1">d6H</option>
<option value="3d6kl2">2d6L</option>
<option value="2d6">2d6</option>
<option value="3d6kh2">2d6H</option>
<option value="4d6kl3">3d6L</option>
<option value="3d6">3d6</option>
<option value="4d6kh3">3d6H</option>