    <td>
    <select style="width:100%;" name="system.era" id="era">
        {{#selectOption era}}
        <option value="none"></option>
        {{#each config.era as |era name|}}
        <option value="{{name}}">{{localize (proper name)}}</option>
        {{/each}}
        {{/selectOption}}
    </select>
    </td>