<div class="ewhen flex-item healthbar">
                <table>
                    
                    <tr>
                        <td><a class="adj-resource res-track" data-resource-name="lifeblood">{{localize "EW.attribute.resource.lifeblood"}}</a></td>
                        <td>
                            {{#times data.resources.lifeblood.lasting}}
                            <i class="fas fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.lifeblood.regular}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.lifeblood.value}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.lifeblood.fatigue}}
                            <i style="transform:rotate(-45deg);" class="fas fa-minus-circle res-box"></i>
                            {{/times}}
                        </td>
                        <td>{{#if (setting "useResolve")}}<a class="adj-resource res-track" data-resource-name="resolve">{{localize "EW.attribute.resource.resolve"}}</a>{{/if}}</td>
                        <td>{{#if (setting "useResolve")}}
                            {{#times data.resources.resolve.lasting}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.resolve.regular}}
                            <i class="fas fa-adjust res-box"></i>
                            {{/times}}
                            {{#times data.resources.resolve.value}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.resolve.fatigue}}
                            <i class="far fa-dot-circle res-box"></i>
                            {{/times}}
                            {{/if}}
                        </td>
                        
                    </tr>
                    {{#if (setting "useCritical")}}
                    <tr>
                        <td class="res-track">{{localize "EW.attribute.resource.critical"}}</td>
                        <td>
                            {{#times data.resources.lifeblood.critical}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times (minus 5 data.resources.lifeblood.critical)}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}
                        </td>
                        <td class="res-track">{{#if (setting "useResolve")}}{{localize "EW.attribute.resource.critical"}}{{/if}}</td>
                        <td>{{#if (setting "useResolve")}}{{#times data.resources.resolve.critical}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times (minus 5 data.resources.resolve.critical)}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}{{/if}}
                        </td>
                        <td colspan='4'></td>
                    </tr>
                    {{/if}}
                    </table>
                 
                
                </div>