
                 <h3 class="traitsheet-header">Specs</h3>
                <table class="nostretch item-table">    
                    <tr>
                        <td>
                            <a class="adj-resource res-track" data-resource-name="shield">{{localize "EW.attribute.vehicle.shield"}}</a>
                        </td>
                        <td>
                            {{#times data.resources.shield.lasting}}
                            <i class="fas fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.shield.regular}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.shield.value}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.shield.fatigue}}
                            <i style="transform:rotate(-45deg);" class="fas fa-minus-circle res-box"></i>
                            {{/times}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="adj-frame res-track" data-resource-name="frame">{{localize "EW.attribute.vehicle.frame"}}</a>
                        </td>
                        <td>
                            {{#times data.frame.lasting}}
                                <i class="fas fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.frame.value}}
                                <i class="far fa-circle res-box"></i>
                            {{/times}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="adj-frame res-track" data-resource-name="frame">{{localize "EW.attribute.resource.critical"}}</a>
                        </td>
                        <td> {{#times data.frame.critical}}
                             <i class="fas fa-times-circle res-box"></i>
                             {{/times}}
                             {{#times (minus 5 data.frame.critical)}}
                             <i class="far fa-circle res-box"></i>
                             {{/times}}
                        </td>
                    </tr>
                
                </table>
                