<section>
    <header>
        <h1>Everywhen Settings Menu</h1>
    </header>
    <div class="flexrow" style="align-items:flex-start">
        <div class="flex-item" style="margin-bottom:24px; flex-grow:3" >
            <p>Customize your Everywhen game experience.</p>
        </div>
        <!--div class="flex-item"><a class="button" name="restoreDefaults" id="restoreDefaults" data-action="restoreDefaults">Reset to Defaults</a></div-->
    </div>
    

</section>