<section
  class='tab initsettings {{tab.cssClass}}'
  data-group='settings'
  data-tab='initsettings'
>
  <h1>Initiative Settings</h1>
  <div class="form-group">
  <table>
    <tr>
      <td>Use 1d6 for Initiative</td>
      <td><select name="singleDieInit">
        <option value="0">No (default)</option>
        <option value="1">Yes</option>
      </select></td>
    </tr>
    <tr>
      <td>Attribute added to initiative</td>
      <td><select name="initAttribute">
        <option value="strength">Strength</option>
        <option value="agility">Agility</option>
        <option value="mind">Mind</option>
        <option value="appeal">Appeal</option>
      </select>
      </td>
    </tr>
  </table>
  </div>

</section>