<form class="ewhen roll-dialog">
 <header class="roll-header">
        <h1 class="roll-name">{{localize "EW.dialog.addcareer"}}</h1>
    </header>

     <div class="form-group">
         <label for="newname">New Career Name</label>
         <input type="text" id="newname" data-dtype="String"/>
     </div>
     <div class="form-group">
         <label for="newrank">Rank</label>
         <input type="text" id="newrank" data-dtype="Number"/>
     </div>
 </div>


</form>