<h3>Rabble Rules</h3>
<ul>
    <li>Rabble have 0 in all attributes and abilities</li>
    <li>Rabble may have one career at rank 0 or 1</li>
    <li><em>Apprentice</em> rabble have 1 Arcane Power point</li>
    <li><em>Acolyte</em> rabble have 1 Faith point per 6 rabble</li>
    <li>Rabble deal 1 damage when unarmed, d3 when armed, and d6L in <strong>Hordes</strong></strong></li>
</ul>