<form class="ewhen roll-dialog">
 <header class="roll-header">
        <h1 class="roll-mighty-sux">{{localize "EW.dialog.legendarysuccess"}}</h1>
    </header>

{{!-- primary - primary attributes object primary.(attribute), blah blah .rank --}}
{{!-- combat - combat attributes object - combat.(attribute), blah blah .rank --}}
{{!-- careers - careers object - career, (career).rank --}}
 <div class="ewhen roll-dialog">
     <div>
         <strong>{{actor}}</strong> spends a hero point to achieve a legendary success!
     </div>
 </div>


</form>