<form class="{{cssClass}}" autocomplete="off">
    <header class="ewhen sheet-header">
        <img class="ewhen charimg" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <h1 class="charname">
            <input class="ewhen charname" style="background:lightgray;" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        </h1>
        <a class="basic-roll"><i class="fa fa-dice-six"></i></a>
    </header>
    

    <section class="sheetbody">
        <div class="ewhen flexcol"> {{!--Outermost Flex Container--}}
            <div class="ewhen flexrow">
                {{> 'systems/ewhen/templates/partials/MainAttributes.hbs'}}
                {{> 'systems/ewhen/templates/partials/CombatAttributes.hbs'}}
                {{> 'systems/ewhen/templates/partials/CareerList.hbs'}}
            </div>
            <div class="ewhen flexrow">
                {{> 'systems/ewhen/templates/partials/HealthTracks.hbs'}}
            </div>
            <div class="ewhen flexrow">
                <div class="ewhen flex-item">
                    {{> 'systems/ewhen/templates/partials/BoonList.hbs'}}
                    {{> 'systems/ewhen/templates/partials/FlawList.hbs'}}
                    {{> 'systems/ewhen/templates/partials/PowerList.hbs'}}
                </div>
                    {{> 'systems/ewhen/templates/partials/WeaponList.hbs'}}	
            </div>
    </section> 
</form>