 <div class="container {{cssClass}}">
  <div class="vimg">
    <img class="profile-img ew-cs-img" 
		 src="{{actor.img}}" 
		 data-edit="img" 
         data-action="editImage"
		 title="{{actor.name}}" 
		 height="64" 
		 width="64"/>
  </div>
  <div class="vname">
    <input 
	name="name" 
	type="text" 
	value="{{actor.name}}" 
	placeholder="Name"/>
  </div>
  <div class="vstats">
    {{> 'systems/ewhen/templates/partials/vehicle/vehicleattributes.hbs'}}
  </div>
  <div class="vtracks">
    {{> 'systems/ewhen/templates/partials/vehicle/vehicletracks.hbs'}}
  </div>
  <div class="vweapons">
    {{> 'systems/ewhen/templates/partials/WeaponList.hbs'}}
  </div>
  <div class="vtraits">
    {{> 'systems/ewhen/templates/partials/BoonList.hbs'}}
  </div>
  <div class="varmor">
    {{> 'systems/ewhen/templates/partials/ArmorList.hbs'}}
  </div>
  <div class="quickref">
   {{> 'systems/ewhen/templates/partials/static/quickref.hbs'}}
  </div>
</div>

