.ew-cs-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 64px 0.8fr .3fr 0.5fr 0.5fr 0.5fr 64px;
  gap: 6px 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "image name toggles rollbutton"
    "attributes abilities careers points"
    "trackers trackers trackers trackers"
    "boonflaw boonflaw weapons weapons"
    "powers powers armor armor"
    "equipment equipment equipment equipment"
    "quickref quickref quickref quickref";
}

.ew-cs-image { grid-area: image;

}

.ew-cs-name { grid-area: name; }

.ew-cs-toggles { grid-area: toggles; }

.ew-cs-rollbutton { 
  grid-area: rollbutton;
  justify-self:end;
  align-self:center;
 }

.ew-cs-attributes { 
  grid-area: attributes;
  justify-self:stretch;
  align-self:start }

.ew-cs-abilities { 
  grid-area: abilities;
  justify-self:stretch

}

.ew-cs-careers { 
  grid-area: careers;
  justify-self:stretch;
}

.ew-cs-careers div {
  place-self:stretch;
 
}
.ew-cs-points { grid-area: points; }

.ew-cs-languages { grid-area: languages; }

.ew-cs-trackers { 
  grid-area: trackers;
  justify-self:stretch; 
}

.ew-cs-boonflaw { grid-area: boonflaw; }

.ew-cs-weapons { grid-area: weapons; }

.ew-cs-powers { grid-area: powers; }

.ew-cs-armor { grid-area: armor; }

.ew-cs-equipment { grid-area: equipment; }

.ew-cs-quickref { 
  grid-area: quickref;
  
}

.ew-roll-icon {
  margin:auto;
  font-size:4em;
  background: none;
}

.ew-statblock {
  background:rgba(121, 119, 101, 0.521);
  border-radius:6px;
}

#ew-attribute-table, 
#ew-combat-table, 
#ew-career-table,
#ew-boon-table,
#ew-pointpool-table,
#ew-weapon-table,
#ew-power-table,
#ew-armor-table,
#ew-equip-table {
  background:none !important;
  color:black;
  border:none !important;
  height:auto;
  width:100%;
  margin:auto;
}

#ew-healthtrack-table {
  background:none;
  border:none;
  width:100%;
  margin:auto;
}

#ew-combat-table td,
#ew-career-table td,
#ew-attribute-table td,
#ew-pointpool-table td {
  
  text-align:left;
  padding:0.2rem;
  
}

.ew-stat-table td .attr-name {
  background-color:white;
  text-align:center;
  width:4;
}

table tr:nth-child(even) {
  background:none !important;
}