@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


@font-face {
  font-family: 'tracks';
  src:     url('../assets/icons/tracks.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --ash-gray: #b2beb5;
  --secback: #b2beb573;
  --secborder:  #b2beb573;
}

.track-healthy {
  content: url('../assets/icons/healthy.svg');
  color:currentColor;
  height:24px;
  width:24px
}

.track-fatigue {
  content: url('../assets/icons/fatigue.svg');
  height:24px;
  width:24px;
}

.track-regular {
  content: url('../assets/icons/regular.svg');
  height:24px;
  width:24px;
}

.track-lasting {
  content: url('../assets/icons/lasting.svg');
  height:24px;
  width:24px;
}

@media (prefers-color-scheme: dark) {
  .track-lasting, .track-regular, .track-fatigue, .track-healthy {
    filter: invert(1) brightness(2);
  }
}

#actorsheet, #itemsheet, #itemsheet select, #itemsheet option, #itemsheet input, #basicroll, #basicroll select, #basicroll option, #basicroll input, .ew-dialog, .ew-roll-dialog {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/*.ew-cs-container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 64px min-content min-content min-content min-content min-content min-content min-content 64px; 
  gap: 6px 0px; 
  grid-template-areas: 
    "image name name name toggles toggles toggles roll"
    "attributes attributes trackers trackers trackers trackers trackers trackers"
    "attributes attributes pointpools pointpools pointpools pointpools pointpools pointpools"
    "abilities abilities weapons weapons weapons armor armor armor"
    "abilities abilities weapons weapons weapons armor armor armor"
    "careers careers boonflaw boonflaw boonflaw powers powers powers"
    "careers careers boonflaw boonflaw boonflaw powers powers powers"
    "careers careers equipment equipment equipment equipment equipment equipment"
    "footer footer footer footer footer footer footer footer"; 
}*/

.ew-cs-container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 64px min-content min-content min-content 1fr 1fr 1fr 64px;
  gap: 6px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image name name name toggles toggles toggles roll"
    "attributes attributes abilities abilities careers careers pointpools pointpools"
    "attributes attributes abilities abilities careers careers pointpools pointpools"
    "trackers trackers trackers trackers trackers trackers trackers trackers"
    "boonflaw boonflaw boonflaw boonflaw weapons weapons weapons weapons"
    "powers powers powers powers armor armor armor armor"
    "equipment equipment equipment equipment equipment equipment equipment equipment"
    "footer footer footer footer footer footer footer footer";
  
}


.ew-cs-image { grid-area: image;

}

.ew-cs-name { grid-area: name; }

.ew-cs-gridline { 
  grid-area:gridline;
  justify-self:stretch;
  
}

.ew-cs-toggles { grid-area: toggles;
  justify-items:center;
}

.ew-cs-rollbutton { 
  grid-area: roll;
  justify-self:center;
  align-self:center;
 }

.ew-cs-attributes { 
  grid-area: attributes;
  justify-self:stretch;
  align-self:start }

.ew-cs-abilities { 
  grid-area: abilities;
  justify-self:stretch

}

.ew-cs-careers { 
  grid-area: careers;
  justify-self:stretch;
}

.ew-cs-careers div {
  place-self:stretch;
 
}
.ew-cs-points { 
  grid-area: pointpools;
  justify-self:stretch;
  align-self:start
  
}

.ew-cs-languages { grid-area: languages; }

.ew-cs-trackers { 
  grid-area: trackers;
  justify-self:stretch;
 
  border-top:2px solid gray;
}

.ew-cs-heropoints {
  grid-area:heropoints;
}

.ew-cs-boonflaw { grid-area: boonflaw; }

.ew-cs-weapons { grid-area: weapons; }

.ew-cs-powers { grid-area: powers; }

.ew-cs-armor { grid-area: armor; }

.ew-cs-equipment { grid-area: equipment; }

.ew-cs-quickref { 
  grid-area: footer;
  align-self:end;
  
}

.ew-section-header {
  font-family:"Cuprum", sans-serif;
  text-transform:uppercase;
  font-weight: 700;
}

h1.ew-roll-name {
  font-family:"Cuprum", sans-serif;
  text-transform:uppercase;
  font-weight: 500;
}


.ew-roll-icon {
  margin:auto;
  font-size:4em;
  background: none;
}

.ew-statblock {
  background-color:none;
  
}

.ew-cs-img {
  border:none;
}

.ew-heading-border {
  border-top:2px solid gray;
  border-bottom:2px solid gray;
}

#ew-attribute-table, 
#ew-combat-table, 
#ew-career-table,
#ew-boon-table,
#ew-weapon-table,
#ew-pointpool-table,
#ew-power-table,
#ew-armor-table,
#ew-equip-table {
  background:none !important;
  border:none !important;
  height:auto;
  width:100%;
  margin:auto;
}

#ew-healthtrack-table {
  background:none;
  border:none;
  width:100%;
  margin:auto;
}

#ew-combat-table td,
#ew-career-table td,
#ew-attribute-table td,
#ew-pointpool-table td
 {
  padding:2px; 
  text-align:left;
}


.ew-stat-table td .attr-name {
  text-align:center;
  width:5ch;
  
}

table tr:nth-child(even) {
  background:none !important;
}

.ew-gridline{
  display:grid;
  grid-gap:0px;
  border-bottom:2px dashed var(--secborder)
}

hr.ew-hr {
  border-top:2px solid var(--secborder);
  margin-top:2px;
  margin-bottom:2px;
}

.item-create {
  font-size:0.85em;
}

i.fa-solid.fa-plus, i.fa-solid.fa-ban, i.fa-solid.fa-pen-to-square {
  color:rgb(97, 97, 97)
}

.weapon-image:hover img {
  content: url('../assets/dice-target.svg');

}

.taskroll-tt {
  display:none;
}

/** Chat Message Grid Structure **/
.chat-container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: min-content min-content min-content min-content; 
  gap: 6px 6px; 
  grid-template-areas: 
    "rollname rollname rollname rollname"
    "rolltotal rolltotal rolloutcome rolloutcome"
    "rolldetails rolldetails rolldetails rolldetails"
    "rolltooltip rolltooltip rolltooltip rolltooltip";
}

.chat-rollname {
  grid-area:rollname;
  justify-self:start;
  font-family:"Cuprum", sans-serif;
  text-transform:uppercase;
  font-weight: 500;
  font-size:x-large

}
.chat-rollicon {
  grid-area:rollicon;
  justify-self:center;
}

.chat-rolltotal {
  justify-self:end;
  grid-area:rolltotal;
  font-family:"Cuprum", sans-serif;
  text-transform:uppercase;
  font-weight: 500;
  font-size:x-large;
  padding-left:3px;
  padding-right:3px;
  padding-top:1px;
   -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.chat-rolloutcome {
  grid-area:rolloutcome;
  justify-self:start;
  font-family:"Cuprum", sans-serif;
  text-transform:uppercase;
  font-weight: 500;
  font-size:x-large;
  padding-left:3px;
  padding-top:2px;
  padding-right:3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.chat-rolldetails {
  grid-area:rolldetails;
  justify-items:center;
}

.chat-rolltooltip {
  grid-area:rolltooltip; 
}

 /** Chat Message **/ 
 .taskroll-final {
  text-align:center;
  width:3ch;
  background:rgb(46, 41, 41);
  border:1px solid rgb(0, 0, 0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.taskroll-tt {
  display:none;
}

.roll-auto-sux, .roll-sux {
  background:green;
  color:white;
}

.roll-mighty-sux {
  background:gold;
  color:black;
}

.roll-fail, .roll-auto-fail {
  background:rgb(110, 0, 0);
  color:white;
}

.taskroll-dmods {
  font-size:0.85em;
}


.ew-icon-h, .ew-icon-f, .ew-icon-r, .ew-icon-l {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tracks' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ew-icon-h:before {
  content: "\e900";
}
.ew-icon-f:before {
  content: "\e901";
}
.ew-icon-r:before {
  content: "\e902";
}
.ew-icon-l:before {
  content: "\e903";
}