/* This is an absolute dumpster fire. I'm so bad at CSS. */

@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;700&display=swap');

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

table tr:nth-child(even) {
  background:none !important;
}

h3 {
  padding-left:3px;
  padding-top:3px;
}

.ewhen .window-content {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQYV2NUU1P7//PnTwYQYGdnZ2CUl5f/D+OAJMACIBmYKkZ0LQBtSRGf2hu8MAAAAABJRU5ErkJggg==);
  /* background: rgb(14, 14, 14); 
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px; */
}

.editor {
  visibility:visible;
  height:210px;
  min-height:200px !important;
}

.ewhen .charname {
  /* flex:2 1 auto; */
  font-size:1.35em;
  width:100%;
}

.ewhen .charname input {
  padding:3px;
}

.basic-roll {
  font-size:4em;
  color:rgb(255, 255, 255);
  
}

/* .tox .tox-tinymce {
  visibility:visible;
  height:250px;
  min-height:210px !important;
  color:white;
}*/

.edit-cont {
  background:whitesmoke !important;
}

.ewhen .sidebar {
  display:flex;
  flex-direction:row;
  justify-content: stretch;
  position:relative;
  top:0;
  left:0;
  height:100%;
  width:120px;
  background:blue;
}

.ewhen .sheetbody {
  flex:1
}

.ewhen .sheethead {
  display:flex;
  flex-flow:row nowrap;
  justify-content:start;
  max-height:128px;
}

.sheet nav.sheet-tabs {
  height: 32px;
  flex: 0 0 32px;
  margin: 4px 0;
  line-height: 32px;
 border: none;
  color:white;
  font-family:"Cuprum", sans-serif;
  text-transform:uppercase;
  font-weight: 700;
  font-size:1.25em;
}

.sheet nav.sheet-tabs .item {
  border: 1px solid #b5b3a4;
  margin-left:6px;
  margin-right:6px;
}

.tabs .ewhen.item.active {
  text-shadow:none !important;
  background:rgb(252, 252, 252);
  color:black;
}

.ewhen .header-flexitem {
  height:auto;
  margin-right: 12px;
  align-items:stretch;
}

.npc-checks {
  max-height:64px;
  line-height:0;
}

.name-block {
  
  max-height:128px !important;
  margin-right: 12px;
  flex-grow:2;
  align-items:stretch;
  
}

.roll-icon {
  margin:auto;
  /* height:128px;
  max-height:128px;
  line-height:128px; */
  padding-left:12px;
  padding-right:12px;
  background: none;
  border-left:3px solid white;
}

.roll-icon i {
  align-items:flex-start;
  margin:auto;
}

.ewhen .flexcol {
  display:flex;
  flex-flow:column nowrap;
  justify-content:stretch;

}
.ewhen .flexrow {
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  
}

.statcol {
  width:100%;
  flex-wrap:wrap;
  list-style-type:none;
  margin:0;
  padding:0;
  flex:1
}

.statcol li {
  border:1px solid white;
  padding:2px;
  text-shadow:gray;
}

/* .ewhen .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 150px;
  width: auto;
}*/

.ewhen .flex-item {
  border:4px solid rgb(255, 255, 255);
  -webkit-border-radius: 8px; 
  -moz-border-radius: 8px; 
  border-radius: 8px; 
  background: #000000;
  color:rgb(255, 255, 255);
  font-size:1em;
  margin-top:8px;
  margin-left:6px;
  margin-right:6px;  
  height:auto;
  flex:1;
  width:32%;
  align-items:flex-start;
  box-shadow: 0px 0px 2px;
}

.ewhen .statfield {
  width: 3ch;
  margin-left:auto;
  right:100%;
  text-align:center;
  color:white;
}
.ewhen .money {
  width:8ch !important;
  margin-left:auto;
  right:100%;
  text-align:right;
  color:white;
}

.ewhen .statfield input {
  color:white;
}



.cell {
  padding-right:3px;
}

.has-border {
  border-left:1px solid white;
  padding-left:3px;
}
.ewhen .statbox {
  width:30px;
}

.nostretch {
  align-self:flex-start;
}

.item-table {
  background:none !important;
  color:white;
  border:none !important; 
  height:auto; 
  width:100%; 
  margin:auto; 
  padding:3px;
}

.ewhen .trait-desc {
  resize:none;
}

.traitsheet-header {
  font-family:"Cuprum", sans-serif;
  text-transform:uppercase;
  font-weight: 700;
  display:flex;
  flex-direction:row;
  background:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
}

.ewhen .roll-name {
  font-family:"Cuprum", sans-serif;
  font-weight:700;
  display:flex;
  flex-direction:row;
}

.track {
  width:120px;
}

.item-create {
  margin-left:auto;
  margin-right:3px;
}

.ewhen .health {
  display:flex;
  flex-flow:column nowrap;
}

.align-right {
  text-align:right;
}

.align-center {
  text-align:center;
}

.resource-bars {
  margin:auto;
}

.resource-bars td {
  text-align:center;
}

.res-box {
  font-size:0.95em;
}

.healthbar {
  align-items:start !important;
  width:100%;
  border:none !important;
}

.taskroll-final {
  text-align:center; 
  width:3ch;
  margin-left:auto;
  margin-bottom:2px;
  margin-right:2px;
  background:rgb(46, 41, 41); 
  color:white;
  border:1px solid rgb(0, 0, 0);
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
}

.taskroll-tt {
  display:none;
}

.roll-auto-sux {
  background:green;
}

.roll-mighty-sux {
  background:gold;
  color:black;
}

.roll-fail, .roll-auto-fail {
  background:rgb(110, 0, 0);
  color:white;
}

.roll-mods {
  color:black;
  background:rgb(221, 221, 221);
}

.taskroll-outcome {
  letter-spacing:0.1em;
  border:1px solid black;
  text-align:center;
  text-transform:uppercase;
  font-size:1.15em;
}

.taskroll-dmods {
  font-size:0.85em;
}

.dmgroll-msg {
  font-size: 1.25em;
}

.ewhen .charimg {
  width: 64px;
  height:64px !important;
  background:rgb(122, 122, 122);
  vertical-align:text-top;
}

.res-track {
  font-family:'Cuprum', sans-serif;
  color:rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
}



.weapon-image:hover img {
  content: url('../assets/dice-target.svg');
  /* filter:invert(1); */

}

.career-item {
  width:100%;
}

.item-icons {
  margin-left:auto;
  width:2ch;
  text-align:right;
}

.attr-name {
  text-align: center;
}

.npc-boxes {
  align-items:flex-end;
  text-align:right;
}