@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;700&display=swap');

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h3 {
  padding-left:3px;
  padding-top:3px;
}

.editor {
  visibility:visible;
  height:210px;
  min-height:200px !important;
}

.ewhen .charname {
  flex:2 1 auto;
}

.basic-roll {
  font-size:2.75em;
  color:rgb(27, 27, 31);
  margin-left:auto;
  max-width:64px;

}
.tox .tox-tinymce {
  visibility:visible;
  height:250px;
  min-height:210px !important;
}
.ewhen .window-content {
  background: rgb(170, 170, 170);
}

.ewhen .sidebar {
  display:flex;
  flex-direction:row;
  justify-content: stretch;
  position:relative;
  top:0;
  left:0;
  height:100%;
  width:120px;
  background:blue;
}

.ewhen .sheetbody {
  flex:1
}

.ewhen .flexcol {
  display:flex;
  flex-flow:column nowrap;
  justify-content:stretch;

}
.ewhen .flexrow {
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  
}

.statcol {
  width:100%;
  flex-wrap:wrap;
  list-style-type:none;
  margin:0;
  padding:0;
  flex:1
}

.statcol li {
  border:1px solid white;
  padding:2px;
  text-shadow:gray;
}

.ewhen .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 150px;
  width: auto;
}

.ewhen .flex-item {
  border:3px solid rgb(43, 42, 42);
  background: #ececec;
  color:rgb(27, 27, 31);
  font-size:1em;
  margin-top:15px;
  margin-left:6px;
  margin-right:6px;  
  height:auto;
  flex:1;
  width:32%;
  align-items:flex-start;
  box-shadow: 0px 0px 2px;
}


.ewhen .statfield {
  width: 3ch;
  margin-left:auto;
  right:100%;
  text-align:right;
}

.has-border {
  border-left:1px solid white;
  padding-left:3px;
}
.ewhen .statbox {
  width:30px;
}

.nostretch {
  align-self:flex-start;
}

.ewhen .trait-desc {
  resize:none;
}

.traitsheet-header {
  font-family:"Cuprum", sans-serif;
  text-transform:uppercase;
  font-weight: 400;
  display:flex;
  flex-direction:row;
  background:rgb(27, 27, 31);
  color:white;
}

.ewhen .roll-name {
  font-family:"Cuprum", sans-serif;
  font-weight:700;
  display:flex;
  flex-direction:row;
}

.track {
  width:120px;
}

.item-create {
  margin-left:auto;
  margin-right:3px;
}

.ewhen .health {
  display:flex;
  flex-flow:column nowrap;
}

.align-right {
  text-align:right;
}

.align-center {
  text-align:center;
}

.resource-bars {
  margin:auto;
}

.resource-bars td {
  text-align:center;
}

.res-box {
  font-size:1.25em;
}

.taskroll-final {
  text-align:center; 
  width:3ch;
  margin-left:auto;
  margin-bottom:2px;
  margin-right:2px;
  background:rgb(46, 41, 41); 
  color:white;
  border:1px solid rgb(0, 0, 0);
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
}

.taskroll-tt {
  display:none;
}

.roll-auto-sux {
  background:green;
}

.roll-mighty-sux {
  background:gold;
  color:black;
}

.roll-fail, .roll-auto-fail {
  background:rgb(110, 0, 0);
  color:white;
}

.taskroll-outcome {
  letter-spacing:0.1em;
  border:1px solid black;
  text-align:center;
  text-transform:uppercase;
  font-size:1.15em;
}

.taskroll-dmods {
  font-size:0.85em;
}

.dmgroll-msg {
  font-size: 1.25em;
}

.ewhen .charimg {
  width: 128px;
  height:128px !important;
  background:rgb(122, 122, 122);
  vertical-align:text-top;
}

.res-track {
  font-family:'Cuprum', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.weapon-image:hover img {
  content: url('../assets/dice-target.svg');
  filter:invert(1);

}

.career-item {
  width:100%;
}

.item-icons {
  margin-left:auto;
  width:2ch;
  text-align:right;
}