.rabble-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "rabble-img rabble-track rabble-toggles rabble-roll"
    "rabble-atts rabble-com rabble-careers rabble-powers"
    "rabble-atts rabble-com rabble-careers rabble-powers"
    "quickref quickref quickref quickref";
}

.rabble-img { grid-area: rabble-img; }

.rabble-atts { grid-area: rabble-atts; }

.rabble-com { grid-area: rabble-com; }

.rabble-roll { grid-area: rabble-roll; }

.rabble-track { grid-area: rabble-track; }

.rabble-toggles { grid-area: rabble-toggles; }

.rabble-powers { grid-area: rabble-powers; }

.rabble-pools { grid-area: rabble-pools; }

.quickref { grid-area: quickref; }


