.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "vimg vimg vname vname vname vname"
      "vimg vimg vstats vstats vstats vstats"
      "vimg vimg vtracks vtracks vtracks vtracks"
      "vweapons vweapons vweapons vtraits vtraits vtraits"
      "quickref quickref quickref quickref quickref quickref";
  }
  
  .vimg { grid-area: vimg; }
  
  .vname { grid-area: vname; }
  
  .vroll { grid-area: vroll; }
  
  .vstats { grid-area: vstats; }
  
  .vtracks { grid-area: vtracks; }
  
  .vweapons { grid-area: vweapons; }
  
  .vtraits { grid-area: vtraits; }
  
  .quickref { grid-area: quickref; }
  